<div class="container-sm text-center">
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
      <ngb-carousel *ngIf="images" >
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image.Path" alt={{image.Name}}>
            <!--<img src="./assets/img/test.jpg" alt={{image.Name}}/>-->
          </div>
          <div class="carousel-caption">
            <h3>{{image.Name}}</h3>
            <p>{{image.Description}}</p>
            <i class="bi bi-pencil-fill"></i>
            <i class="bi bi-trash3-fill"></i>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col"></div>
  </div>
</div>


<!--<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" *ngIf="images">
              <div class="carousel-item active" *ngFor="let image of images">
                <img [src]="image.Path" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{image.Name}}</h5>
                  <p>{{image.Description}}</p>
                  <i class="bi bi-pencil-fill"></i>
                  <i class="bi bi-trash3-fill"></i>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col"></div>
</div>-->
